In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /opt/conda/miniconda3/lib/python3.8/site-packages (8.0.30)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in /opt/conda/miniconda3/lib/python3.8/site-packages (from mysql-connector-python) (3.19.4)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Note: you may need to restart the kernel to use updated packages.

In [2]:
import sqlite3
from google.cloud import storage
import pandas as pd
import numpy as np
from datetime import datetime
import mysql.connector
import sys
from pandas import DataFrame

In [3]:
cnx = mysql.connector.connect(user='root', password='tcp',host='34.155.60.153',database='dl')
#cursor=cnx.cursor(buffered=True)
query1=("select * from post")
#cursor.execute(query1)
#frame=pd.Dataframe(cursor.fetchall())

/opt/conda/miniconda3/lib/python3.8/site-packages/mysql/connector/abstracts.py:130: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if group is 'connector_python':
/opt/conda/miniconda3/lib/python3.8/site-packages/mysql/connector/abstracts.py:130: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if group is 'connector_python':

InterfaceError: 2003: Can't connect to MySQL server on '34.155.60.153:3306' (110 Connection timed out)

In [ ]:
def read_query(connection, query):
    cursor = cnx.cursor(buffered=True)
    try:
        cursor.execute( query )
        names = [ x[0] for x in cursor.description]
        rows = cursor.fetchall()
        return pd.DataFrame( rows, columns=names)
    finally:
        if cursor is not None:
            cursor.close()
frame=read_query(cnx,query1)

In [ ]:
frame.head()

In [ ]:
frame.info()